@page
@model DeleteModel
@{
    ViewData["Title"] = "Delete page";
}



<div class="card col-6 mx-auto bg-dark">
    <form method="post" border-radius: 10px;" class="p-4">
        <input asp-for="Timesheets.Id" hidden />
        <div class="card-header lead fw-bold text-white border border-light" style="border-radius: 10px; background-color: crimson !important">
            Delete
        </div>

        <div class="row mt-4 mb-2 ">
            <div class="col-2 ms-auto ">
                <label class="fw-bold text-white text-end">Name</label>
            </div>
            <div class="col-4 me-auto ">
                <input asp-for="Timesheets.Name" disabled class="form-control" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2 ms-auto">
                <label class="fw-bold text-white">Date</label>
            </div>
            <div class="col-4 me-auto">
                <input asp-for="Timesheets.DateWorked" class="form-control" disabled type="date" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2 ms-auto">
                <label class="fw-bold text-white">Notes</label>
            </div>
            <div class="col-4 me-auto">
                <input asp-for="Timesheets.Notes" disabled class="form-control" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2 ms-auto">
                <label class="text-white fw-bold ">Choose a Category</label>
            </div>
            <div class="col-4 me-auto">
                <input asp-for="Timesheets.Category" disabled class="form-control" />
            </div>
        </div>
        <div class="text-center">
            <button class=" btn btn-danger ms-auto mt-3 mx-3" type="submit" style="background-color: crimson !important"><i class="fas fa-trash me-1"></i>Delete </button>
            <a asp-page="Index" class="btn btn-secondary mt-3"><i class="fas fa-hand-point-left text-white me-1"></i>Go Back</a>
        </div>
    </form>
</div>


